#body {
  background-image:  url("C:/Users/mine/Documents/VSCode/mitchFile/viaBlue/fairground-close.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
  height: 100%;
  width: 100%;
}

h1 {
  color: orange;
  font-size: 3em;
}

/*h2 {
  color: orange;
  font-size: 2em;
  border-style: ridge;
  border-color: #3C024C;
  border-width: 5px;
}*/

main section p {
  display: inline-block;
  width: 50%;
}



main  h2 {
  color: orange;
  display: inline-block;
  margin: 25px 150px 20px 150px;
  padding: 10px;
  font-size: 2em;
  text-align: center;
  text-shadow: -3px -2px 0px red;
}
