body {
  background-image:  url("C:/Users/mine/Documents/VSCode/Mitch/viaBlue/logo.jpg");
  background-repeat: repeat;
  background-position: center;
  background-attachment: scroll;
  height: 100%;
  width: 100%;
  color: orange;
}

h1 {
  color: orange;
  font-size:70px;
  margin: auto;
  display: block;
  text-align: center;
  font-weight: 900;
  font-style: oblique;
  text-decoration: underline;
  text-shadow: -3px -3px 5px #6B238E;
}
#navBar {
  display: inline-block;
  padding: 7px;
  text-align: center;
  background-color: #000000;
  border-color: #7a11a5;
  color: orange;
  text-decoration: underline;
  margin-left: 100px;
  margin-right: 100px;
}

article {
  display: block;
}

#hood {
  height: 40%;
  width: 40%;
  border-style: ridge;
  border-color: #7a11a5;
  border-width: 10px;
  box-shadow: -5px -5px 2px orange;
}

#openHood {
  height: 50%;
  width: 50%;
  border-style: ridge;
  border-color: #7a11a5;
  border-width: 10px;
  box-shadow: -5px -5px 2px orange;
}

#fairOne {
  height: 40%;
  width: 40%;
  border-style: ridge;
  border-color: #7a11a5;
  border-width: 10px;
  box-shadow: -5px -5px 2px orange;
}
#fairClose {
  height: 500px;
  width: 350px;
  border-style: ridge;
  border-color: #7a11a5;
  border-width: 10px;
  box-shadow: -5px -5px 2px orange;
}

main section p {
  display: inline-block;
  width: 50%;
}

section {
  font-family: 'Anton', sans-serif;
  border-style: ridge;
  border-color: #7a11a5;
  border-width: 5px;
  width: 65%;
  margin: auto;
  text-align: center;
  text-shadow: 2px 3px 3px black;
}

h2 {
  font-family: 'Revalia', cursive;
  color: orange;
  display: block;
  margin: auto;
  padding: 5px;
  font-size: 45px;
  text-align: center;
}

h3 {
  font-family: 'Revalia', cursive;
  color: orange;
  font-size: 35px;

}
