body {
  background-color: #000000;
  display: inline;
  margin: 0px;
  padding: inherit;
  background-image: url("C:/Users/mine/documents/VSCode/Mitch/viaBlue/output.jpg");
  background-repeat: repeat;
  color: orange;
}

section {
  display: inline;
  margin: 0px;
  padding: 0px;
}

div .nisPic {
  display: inline-block;
  height: 175px;
  width: 175px;
}
